/**
 * @title Module-tabs
 * @example <div module="tabs" tabs="horizontal || vertical">
**/

[module="tabs"] {
  margin: 10px 0;
  ul {
    overflow: hidden;
  }
}

[tab="vertical"] ul {
  width: 200px;
  float: left;
}

[tab="horizontal"] ul li {
  display: inline;
}

[tab="vertical"] ul li {
  display: block;
}
[tab] ul li a {
    display: block;
    position: relative;
    color: #444;
    background-color: #f1f1f1;
    text-decoration: none;
    padding: 4px 10px;
    &:hover {
      background-color: #E8E8E8;
    }
}
[tab="horizontal"] ul li a {
  float: left;
  border-bottom: 2px solid #ccc;
}

[tab="vertical"] ul li a {
  float: none;
  border-right: 2px solid #ccc;
}

.link-tab {
  background-color: #FFF !important;
  border-color: #3299BB !important;
  color:$linkColor!important;
}

[tab="vertical"] ul li + li a {
  border-left: 2px solid #dedede;
}

[tabs-wrap] {
  position: relative;
  min-height: 200px;
  overflow: hidden;
  border-top: 1px solid #ccc;
}

[tab="vertical"] > [tabs-wrap] {
  position: relative;
  min-height: 200px;
  margin-left: 210px;
  border:0!important;
}

[tabs-wrap] {
  [tab] {
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    display: none;
  }
  .hide-tab {
    display: none;
  }
  .tab-selected {
    display: block;
  }
}
