/**
 * @title Table
 * @description: CSS for tables
**/
th {
  border-bottom: 1px solid #E2E2E2;
  padding: 5px 8px;
  text-align: left;
  font-size: 1.2rem;
}

table tbody > tr {
  background: #FBFBFB;
  &:hover {
    background: #EAEAEA;
  }
}
tr.selected{
    background-color:#FFF8EF!important;
}
td {
  padding: 5px 8px;
  color: #5c6067;
}
td > {
  [ui=input-text], [ui=select], [ui=textarea] {
    padding: 0 5px;
  }
  [ui="button"] {
    padding: 0 12px;
  }
}
table tbody > tr > td {
  > * {
    font-size: 1.2rem !important;
    line-height: 1.8 !important;
  }
  font-size: 1.2rem !important;
  line-height: 1.8 !important;
}
tbody > tr {
  border-bottom: 1px solid #DEDEDE;
}

td, tr {
  border: 0;
}

td + td {
  border-left: 0;
}

.table-footer {
  display: block;
  overflow: hidden;
  background: #F7F7F7;
  padding: 5px;
  margin: 5px 0;
}
/**
 * @title Pagination Table
**/

.player ul {
  float: left;
  li {
    display: inline-block;
    padding: 0 6px;
    vertical-align: middle;
    select {
      height: 20px;
      background: #fff;
    }
    input {
      width: 23px;
      height: 20px;
    }
  }
}

.blue-links ul li {
  display: inline-block;
}

.links-table {
  float: right;
  ul li {
    display: inline-block;
    margin: 0 5px;
  }
}

[link-table] {
  padding: 2px 5px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 14px;
}

[ico-table] {
  display: block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
  outline: none;
}
[tr-disabled] {
    opacity:.4;
    &:hover {
      background:#FBFBFB;
    }
}
