<div class="module">
    <div class="module-content">
        <div module="block">
            <div block="100">
                <div message="red"><span><i class="fa fa-exclamation-triangle"></i>&nbsp; Error al cargar modal</span></div>
            </div>
        </div>
        <div module="footer-buttons">
            <ul>
                <li><button ui="button" color="grey" close-modal><i class="fa fa-chevron-left"></i>&nbsp; Volver</button></li>
            </ul>
        </div>
    </div>
</div>
