<div class="module">
    <div class="module-content">
        <div module="block">
            <div block="100">
                <div class="block-content">
                    <div class="input-wrap">
                        <input type="text" ui="input-text" placeholder="Dirección">
                    </div>
                    <div class="input-wrap">
                        <input type="text" ui="input-text" placeholder="Comuna">
                    </div>
                    <div class="input-wrap">
                        <input type="text" class="input-left" ui="input-text" placeholder="Teléfono">
                        <input type="text" class="input-right" ui="input-text" placeholder="E-Mail">
                    </div>
                    <div class="input-wrap">
                        <input type="text" ui="input-text" placeholder="http://">
                    </div>
                    <div class="input-wrap">
                        <input type="text" ui="input-text" placeholder="Rep. Legal">
                    </div>
                </div>
                <div class="block-content">
                    <div message="red"><span><i class="fa fa-exclamation-triangle"></i>&nbsp; Error en Sistema</span></div>
                    <div message="yellow"><span><i class="fa fa-info"></i>&nbsp; Hay un error de concordancia de datos</span></div>
                    <div message="green"><span><i class="fa fa-check"></i>&nbsp; Guardado Correctamente</span></div>
                </div>
            </div>
        </div>
        <div module="footer-buttons">
            <ul>
                <li><button ui="button" color="grey" close-modal><i class="fa fa-chevron-left"></i>&nbsp; Volver</button></li>
                <li><button ui="button" color="blue"><i class="fa fa-floppy-o"></i>&nbsp; Guardar</button></li>
            </ul>
        </div>
    </div>
</div>
